<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon autothérapie</title>
    </head>
    <body>
    
    <h1>Bienvenue {{user}} !</h1>
        <form action="http://localhost:5000/accueil/suivi_emotions">
		    <input type="submit" value="Suivi des émotions" />
        </form>
        
        <form action="http://localhost:5000/accueil/intentions">
		    <input type="submit" value="Intention du jour" />
		</form>
		
		<form action="http://localhost:5000/accueil/journal">
		    <input type="submit" value="Mon journal" />
		</form>		
	 </body>
</html>