<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Mon autothérapie</title>
    </head>
    <body>
    <h1>Bienvenue dans vos 'intentions du jour'</h1>
    
    	<form action="http://localhost:5000" method="get">
        	<fieldset>
            <legend>Quel est la date d'aujourd'hui?</legend>
            <div>
              <input type="date" id="date" name="date">
            </div>
            
            </fieldset>
            
            <fieldset>
            <legend>Quelle est votre intention aujourd'hui? (Qu'est ce qui vous ferait plaisir aujourd'hui?)</legend>

            <textarea id="intention" name="intention" rows="5" cols="30">
            
            </textarea>
            </fieldset>
            
            <input type="submit" value="Valider mes réponses" />
            
        </form>
	 </body>
</html>        
